html, body, #googft-mapCanvas {
    margin: 0;
    padding: 0;
    width: 100%;
}

header, main, footer {
    padding-left: 0px;
}

@media screen and (min-width: 992px) {
    header, main, footer {
        padding-left: 300px;
    }
}

.hidden {
    display: none;
}