body{
    background: #eee;
}

header, main, footer {
    padding-left: 0px;
}

@media screen and (min-width: 992px) {
    header, main, footer {
        padding-left: 300px;
    }
}

.hidden {
    display: none;
}

#mapCanvas {
    width: 100%;
    height: 500px;
}

#card-username {
    text-shadow: 1px 1px 1px black;
}

#e_resp, #p_resp {
    color: red;
}